# Carpetas propias
/discovery-server/target
/config-server/target
/services-gateway/target
/core-service/target
/config-server/target
/file-service/target
/notification-service/target
/common-events/target
/common-shared/target

/target/
/.mvn/
*.log
dependency-reduced-pom.xml

# Archivos de IDE
.idea/
*.iml
.vscode/
.classpath
.project
.settings/
.factorypath

# Archivos temporales
*.tmp
*.bak
*.swp
*~
# Archivos del sistema operativo
.DS_Store
Thumbs.db